body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    background-image: url("../img/samplebackground.png");
    background-attachment: fixed;
    background-position: right top;
    padding-top: 1em; /* Prevent content from hiding behind the fixed bar */
}
.hidden {
    display: none;
}
/* links */
button {
    cursor: pointer;
}
a:link {
    color: DodgerBlue;
    text-decoration: none;
    transition: 0.2s;
}
a:visited {
    color: DarkOrchid;
    text-decoration: none;
}
a:hover {
    color: cyan;
    font-size: 150%;
    line-height: 0;
}
.inactiveLink {
    pointer-events: none;
    cursor: default;
}
/* theme */
.switch {
    align-items: right;
}
.light-mode {
    background-color: white;
    color: black;
}
/* image fit */
.fit {
    max-width: 99%;
    max-height: 99%;
}
/* border */
.borderD {
    border-width: medium;
    border-style: double;
    border-color: lime;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
}
/* logo fly parallax */
.parallaxdiv {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position-x: 200%;
    background-position-y: 200%;
    width: 100%;
    height: 2000px;
    min-height: fit-content;
}
/* rainbow animated text */
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ffa500, #ff3399,#ff3399);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {background-position: 0 0}
    50% {background-position: 100% 0;}
}
/* main menu */
.menu{
    display: none;
    width: 17em;
    min-width: fit-content;
    border-width: medium;
    border-style: double;
    border-color: #ff3399;
    margin: 0.7em;
    padding: 0.7em;  
}
.menu.show{
    display: block;
}
.menu a:hover{
    font-size: 100%;
}
.menu-button {
    border-style:double;
    border-color:#ff3399;
}
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;  
}
.centered-paragraph {
    width: 100%;
    max-width: 45em;
    margin: 0 auto;
    text-align: left;
}
.centered-paragraph-hidden {
    width: 100%;
    max-width: 45em;
    margin: 0 auto;
    text-align: left;
    display: none;
}
iframe {
    width: 100%;
    max-width: 45em;
    height: 30em;
    border: none;
}
